doctype html
html
    block head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital,wght@1,500&family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='./css/style.css')
        
        title FoodAPP
    body
        block header
            include header.pug
        block content
            h1 Hello from content
        include footer.pug
        block scripts
            script(src="./js/script.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" , integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" , crossorigin="anonymous" , referrerpolicy="no-referrer")   