footer
  .footer-content
    ul.footer-nav-links
      li
        a.footer-links(href='') About us
      li
        a.footer-links(href='') Blog
      li
        a.footer-links(href='') Press
      li
        a.footer-links(href='') IOS APP
      li
        a.footer-links(href='') Android APP
    ul.footer-nav-icons
      li
        i.fa-brands.fa-facebook-square
      li
        i.fa-brands.fa-twitter
      li
        i.fa-brands.fa-instagram
      li
        i.fa-brands.fa-google
  .footer-text
    p Copyright &copy; 2020 by Harshit Sharma. All rights reserved.
