extends base.pug
block content
    .login-form.forgotpw
        form(action="", method="post").login
            h3 Forgot Password?
            input(type="email" , placeholder = "Enter your email")
            p#message
            input(type="button", value="Send Mail").book.btn
block scripts
    script(src="./js/forgotpw.js")             